
/* ******************************************************
	Author URI: https://codeconvey.com/
	Demo Purpose Only - May not require to add.
	font-family: "Raleway",sans-serif;
*********************************************************/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #222;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
	padding:0;
	font-family: "Raleway",sans-serif;
}
a{
	font-family: "Raleway",sans-serif;
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	color: #373e18;
}
section {
    float: left;
    width: 100%;
	padding-bottom:3em;
}
h2 {
    color: #1a0e0e;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
	text-transform:uppercase;
}
h2 span {
    display: block;
    padding: 0;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 5px;
	text-transform:uppercase;
}

#float-right{
	float:right;	
}

/* ******************************************************
	Script Top
*********************************************************/

.ScriptTop {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
    margin: 24px 0;
    padding: 0;
    text-align: left;
}
.ScriptTop li{
	list-style:none;	
	display:inline-block;
}
.ScriptTop li a {
    background: #6a4aed none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 18px;
    text-decoration: none;
    text-transform: capitalize;
}
.ScriptTop li a:hover{
	background:#000;
	color:#fff;
}


/* ******************************************************
	Script Header
*********************************************************/

.ScriptHeader {
    float: left;
    width: 100%;
    padding: 2em 0;
}
.rt-heading {
    margin: 0 auto;
	text-align:center;
}
.Scriptcontent{
	line-height:28px;	
}
.ScriptHeader h1{
	font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
    color: #6a4aed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;

}
.ScriptHeader h2 {
    color: #312c8f;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;

}
.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;

}
.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}




/* ******************************************************
	Live Demo
*********************************************************/





/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }
  
}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}
	

}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;		
	}
	
	.ScriptHeader h1,
	.ScriptHeader h2, 
	.scriptnav ul{
		text-align:center;	
	}
	.scriptnav ul{
		 margin-top:12px;		
	}
	#float-right{
		float:none;	
	}
	
}


.msr_btn15 a{
  width: 230px;
  padding:15px;
  color:#ffffff;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  background: #FF9C15;
  display: block;
  position:relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.msr_btn15 a::before{
  content: '';
  width: 16px;
  height: 16px;
  margin:-8px 0 0 0;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background: #fff;
  position:relative;
  position:absolute;
  top:50%;
  left:20px;
  display:block;
}
.msr_btn15 a::after{
  content: '';
  width: 4px;
  height: 4px;
  border: 0px;
  margin:-3px 0 0 0;
  border-top: solid 2px #FF9C15;
  border-right: solid 2px #FF9C15;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position:absolute;
  top:50%;
  left:24px;
  display:block;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.msr_btn15 a:hover{
  background: #FFAF42;
}
.msr_btn15 a:hover::after{
  border-top: solid 2px #FFAF42;
  border-right: solid 2px #FFAF42;
}

.msr_text_04 {
  padding-bottom: 20px;
  width: 460px;
}
.msr_text_04 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_text_04 input[type=text] {
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000000;
  font-size: 13px;
  padding: 10px;
  height: 40px;
  width: 460px;
}

/*--------------------------------------
ラジオボタン
---------------------------------------*/

.msr_radio_04 {
  padding-bottom: 20px;
}
.msr_radio_04 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_radio_04 input[type=radio] {
  display: none;
  margin: 0;
}
.msr_radio_04 input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0 30px;
  position: relative;
}
.msr_radio_04 input[type=radio] + label::before {
  border: 3px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: -3px;
  height: 24px;
  width: 24px;
}
.msr_radio_04 input[type=radio]:checked + label::after {
  background: #000000;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -4px;
  position: absolute;
  left: 6px;
  top: -2px;
  height: 12px;
  width: 12px;
}

/*--------------------------------------
チェックボックス
---------------------------------------*/

.msr_chack_04 {
  padding-bottom: 20px;
}
.msr_chack_04 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_chack_04 input[type=checkbox] {
  display: none;
  margin: 0;
}
.msr_chack_04 input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0 30px;
  position: relative;
}
.msr_chack_04 input[type=checkbox] + label::before {
  border: 3px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: -3px;
  height: 24px;
  width: 24px;
}
.msr_chack_04 input[type=checkbox]:checked + label::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
}
.msr_chack_04 input[type=checkbox]:checked + label::after {
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  left: 6px;
  margin-top: -8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 10px;
  width: 12px;
}

/*--------------------------------------
プルダウン
---------------------------------------*/

.msr_pulldown_04 {
  padding-bottom: 20px;
  position: relative;
  width: 230px;
}
.msr_pulldown_04 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_pulldown_04 select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/stylerecipe_img/msr04_pulldown_btn01.png) no-repeat right;
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 5px 10px;
  height: 40px;
  width: 230px;
}

/*--------------------------------------
ファイル選択
---------------------------------------*/

.msr_file_04 {
  padding-bottom: 20px;
  width: 460px;
}
.msr_file_04>p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_filebox_04 input[type=file] {
  display: none;
}
.msr_filebox_04 label {
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  position: relative;
  height: 40px;
  width: 460px;
}
.msr_filebox_04 label:before {
  background: #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "Browse...";
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 99px;
}

/*--------------------------------------
テキストエリア
---------------------------------------*/

.msr_textarea_04 {
  padding-bottom: 10px;
  width: 460px;
}
.msr_textarea_04 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_textarea_04 textarea {
  border: 5px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000000;
  font-size: 13px;
  padding: 10px;
  height: 210px;
  width: 460px;
}

/*--------------------------------------
送信ボタン
---------------------------------------*/
.msr_sendbtn_04 {
  margin:0 0 10px;
  position: relative;
  height: 50px;
  width: 150px;
}
.msr_sendbtn_04 input[type=submit] {
  background: #000000;
  background-position: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  height: 50px;
  width: 150px;
}
.msr_sendbtn_04:before {
  border: 6px solid transparent;
  border-left: 6px solid #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  vertical-align: middle;
  width: 6px;
  z-index: 10;
}
.msr_sendbtn_04 input[type=submit]:hover {
  opacity: 0.6;
}
.msr_sendbtn_04_disabled input[type=submit]{
  background: #FFFFFF;
  border: 5px solid #DDDDDD;
  color: #DDDDDD;
  cursor: default;
}
.msr_sendbtn_04_disabled:before {
  border-left: 6px solid #DDDDDD;
  content: "";
}
.msr_sendbtn_04_disabled input[type=submit]:hover {
  opacity: 1;
}

.bn33 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}